@font-face {
  font-family: "Supply";
  src: url("../assets/fonts/Supply-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
}

@font-face {
  font-family: "Supply";
  src: url("../assets/fonts/Supply-UltraLight.otf") format("opentype");
  font-display: block;
  font-weight: lighter;
  font-style: normal;
}

//

em,
.em {
  font-style: italic;
}

strong,
.strong {
  font-weight: bold;
}

//

@mixin f1 {
  font-family: Supply, Helvetica, Arial, sans-serif;
  font-weight: lighter;

  font-size: 200px;
  line-height: 220px;
  letter-spacing: 0.02em;
}

.f1 {
  @include f1;
}

//

@mixin b1 {
  font-family: Supply, Helvetica, Arial, sans-serif;

  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.b1 {
  @include b1;
}

@mixin caption {
  font-family: Supply, Helvetica, Arial, sans-serif;

  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
}

.caption {
  @include caption;
}
